@use '../../../styles/variables' as *;
@use 'sass:color';

.adminHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $quaternary-color;
    color: $color-text-tertiary;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;

        .adminHeaderTitle {
            font-size: $font-size-medium;
            text-align: center;
        }
    }

    .adminHeaderTitle {
        font-size: $font-size-medium-large
    }

    .adminHeaderButton {
        display: flex;
        align-items: center;
        gap: .5rem;
        background-color: transparent;
        border: 2px solid $tertiary-color;
        color: $tertiary-color;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: color.scale($tertiary-color, $lightness: 20%);
            color: $color-text;
        }
    }
}