@use '../../styles/variables' as *;
@use 'sass:color';

.abmPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;

    .abmPageContent {
        display: flex;
        margin: 1rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}