$primary-color: #F8E9D2;
$secondary-color: #FFFEFD;
$tertiary-color: #EEFDF3;
$quaternary-color: #8B4513;
$quinary-color: #6B4423;

$color-button: #A0522D;
$color-button-secondary: #B8860B;
$border-color: #3D3D3D;

//Color text
$color-text: #8B4513;
$color-text-secondary: #D2691E;
$color-text-tertiary: #FFFFFF;
$color-text-quaternary: #007A48;

$color-hover-primary: #291F13;
$color-hover-secondary: #c26f27;

$font-family: 'Inter', sans-serif;

$font-size-small: 12px;
$font-size-xsmall: 13px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 36px;
$font-size-xxxlarge: 60px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-error: #ff4d4f;
$color-success: #52c41a;

$color-instagram: #B453E6;
$color-whatsapp: #25D366;