@use '../../styles/variables' as *;
@use 'sass:color';

.itemCardInOrder {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem;
    border-bottom: 1px solid $primary-color;
    gap: 0.5rem;
    background-color: color.adjust($secondary-color, $lightness: -5%);
    border: 1px solid rgba($border-color, 0.2);
    border-radius: 0.5rem;
    padding: .5rem;

    .itemDetails {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: .5rem;

        p {
            margin: 0;
            font-size: $font-size-normal;
            color: $color-text;
        }

        .itemName {
            font-weight: $font-weight-extra-bold;
            font-size: $font-size-medium-large;
            color: $color-text;
        }

        .itemDescription {
            font-size: $font-size-normal;
            color: $color-text-secondary;
        }
    }

    .itemPrice {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: $color-text-secondary;
        padding: 0 1rem;
    }

    .itemQuantityContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .itemQuantity {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: .5rem;
            background-color: $secondary-color;
            border: 1px solid rgba($border-color, 0.3);
            border-radius: 0.5rem;

            .itemQuantityButton {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-button;
                border: none;
                color: $secondary-color;
                font-size: $font-size-medium-large;
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: color.adjust($tertiary-color, $lightness: -20%);
                }
            }

            .itemQuantityValue {
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                color: $color-text;
                width: 1rem;
                text-align: center;
            }
        }

        .itemQuantityPrice {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            color: $color-text;
            padding: 0 1rem;
        }
    }

    .itemDeleteIcon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: $font-size-medium-large;
        color: $color-error;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
            color: color.adjust($color-error, $lightness: -50%);
        }
    }
}