* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #F8E9D2;
}

/* Clase para bloquear scroll cuando modal está abierto */
html.modal-open {
  overflow: hidden;
}