@use '../../../styles/variables' as *;
@use 'sass:color';

.adminOrderCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    background-color: $secondary-color;
    border-bottom: 1px solid rgba($border-color, 0.3);
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: color.adjust($secondary-color, $lightness: -5%);
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .adminOrderCardContent {
            flex-direction: column;
            align-items: center;
        }
    }

    .adminOrderCardContent {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0 1rem;

        .adminOrderCardHeader {
            position: relative;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: .5rem;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
            }

            .adminOrderId {
                font-size: $font-size-medium-large;
                font-weight: $font-weight-bold;
                color: $color-text;
                margin-bottom: 0.5rem;
            }

            .adminOrderClientPhone {
                font-size: $font-size-medium;
                font-weight: $font-weight-medium;
                color: $color-text-secondary;
            }
        }

        .adminOrderQuantity {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            color: $color-text-secondary;
            margin-bottom: 1rem;
        }

        .adminOrderTotalPrice {
            font-size: $font-size-medium-large;
            font-weight: $font-weight-bold;
            color: $color-text-secondary;
        }

        .adminOrderDate {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            color: $color-text-secondary;
            margin-top: 0.5rem;
        }

        .adminOrderFocaccias {
            margin-top: 1rem;
            width: 100%;
            overflow-y: auto;
            max-height: 150px;
            width: 100%;
            max-width: 400px;
            scrollbar-width: thin;

            .adminOrderFocacciasList {
                display: flex;
                flex-direction: column;

                .adminOrderFocacciaItem {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 1rem;
                    font-size: $font-size-medium;
                    color: $color-text-secondary;
                    margin: 1rem;
                    border-bottom: 1px solid rgba($border-color, 0.2);

                    .focacciaName {
                        font-weight: $font-weight-medium;
                    }

                    .focacciaQuantity {
                        font-weight: $font-weight-regular;
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }

        .adminOrderDeleteButton {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            color: $color-text-secondary;
            font-size: $font-size-large;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            z-index: 10;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: color.scale($color-error, $lightness: -20%);
            }

            @media (max-width: 768px) {
                position: absolute;
                top: 0rem;
                right: 0rem;
            }
        }
    }
}