@use '../../styles/variables' as *;

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba($secondary-color, 0.7);
    padding: 1rem;
    z-index: 1500; // Entre el contenido normal (1000) y AsideOrderSummary (2000)
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }

    .logoContainer {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            margin-right: 1rem;
            border-radius: 2rem;
        }

        h1 {
            color: $color-text;
            font-size: $font-size-large;
        }
    }

    .navLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
        }

        ul {
            display: flex;
            gap: 1.5rem;
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: $color-text;
                    font-size: $font-size-medium;
                    font-weight: $font-weight-medium;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: $color-hover-secondary;
                    }
                }
            }
        }

        .buttonsContainer {
            display: flex;
            gap: 1rem;

            .primaryButton,
            .secondaryButton {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.5rem;
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
            }

            .primaryButton {
                background-color: $color-button;
                color: $color-text-tertiary;

                &:hover {
                    background-color: $color-hover-secondary;
                }
            }

            .secondaryButton {
                background-color: $color-button-secondary;
                color: $color-text-tertiary;

                &:hover {
                    background-color: $color-hover-secondary;
                }
            }
        }
    }
}