@use '../../styles/variables' as *;
@use 'sass:color';

.itemCategory {
    position: absolute;
    display: flex;
    align-items: center;
    gap: .25rem;
    top: 1rem;
    right: 1rem;
    background-color: color.adjust($color-success, $lightness: -10%);
    color: $color-text-tertiary;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: $font-size-normal;
    z-index: 3;
}