@use '../../../../styles/variables' as *;
@use 'sass:color';

.itemCategory {
    position: absolute;
    display: flex;
    align-items: center;
    gap: .25rem;
    top: 0.85rem;
    right: 0.85rem;
    background-color: color.adjust($color-success, $lightness: -10%);
    color: $color-text-tertiary;
    padding: 0.32rem 0.62rem;
    border-radius: 1rem;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    z-index: 3;
}
